body{
    font-family: 'Montserrat';
}


.lore1{
    background-color: #003D5D;
}
.up1{
    height: 700px;
  background-attachment: fixed;
  background-position: center;
    background-image: url(images/Rectangle\ 1.png);
}
.gp1{
    column-gap: 60px;
}
.gp1 a:hover{
    text-decoration: underline;
    text-underline-offset: 9px;

}
.hd1{
    position: relative;
    top: 120px;
    left: 30px;
}
.oh1{
    position: absolute;
    right: 40px;
}

.rd1{
    padding-right: 22px !important;
    padding-left: 22px !important;
    padding: 6px;
    color: #003D5D;
    border: 2px solid #003D5D;

}
.rd2{
    padding-right: 25px !important;
    padding-left: 25px !important;
    padding: 6px;
    color: #003D5D;
    border: 2px solid #003D5D;
}
.dol1{
    color: #003D5D;
}
.ll1{
    color: black;
    font-size: 30px;
    text-align: center;
    padding: 15px;
}
.ll2{
    font-size: 15px;
    text-align: center;
}
.mkl{
    background-color: #003D5D !important;
}
.ipu1{
    background-color: #003D5D !important;
    border: 1px solid white !important;
}
.ipu3{
    padding-right: 20px !important;
    padding-left: 20px !important;
    background-color: #003D5D !important;
    border: 1px solid white !important;
    color: white !important;
}
.qwe1{
    top: 100px;
    position: absolute;
    left: 100px;
}
.qwe2{
    margin: 10px;
    font-size: 30px;
}
.qwe3{
    margin: 10px;
}
 .qwe4{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
 }
 .qwe5{
padding-top: 60px;
    margin: 10px;
 }
 .mge{
    background-image: url(images/Rectangle\ 101.png) !important;
 }